<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

<head>
	<title>Cadastro de concorrente</title>
</head>

<section layout:fragment="conteudo">
    <form class="form-horizontal" method="POST" th:action="@{/concorrente}" th:object="${concorrente}" >
    	<div layout:include="MensagemGeral"></div>
    	<div layout:include="MensagemErro"></div>
    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="clearfix">
	   				<h1 class="panel-title aw-titulo-panel">Novo concorrente</h1>
	   				<a class="btn btn-link aw-link-panel" th:href="@{/concorrente}">Voltar para pesquisa</a>
	   			</div>
    		</div>
    		
    		<div class="panel-body">
    			<input type="hidden" th:field="*{codigo}"/>
    			
    		
    		<div class="panel-default" id="dadosConcorrente">
    		 <div class="panel-heading">Dados do Concorrente</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="descricao" th:field="*{descricao}"  required="true"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('cpfCnpj')} ? has-error">
					<label for="cpfCnpj" class="col-sm-2 control-label">CPF/CNPJ </label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="cpfCnpj" th:field="*{cpfCnpj}"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
					<label for="telefone" class="col-sm-2 control-label">Telefone </label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="telefone" th:field="*{telefone}" required="true"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="col-sm-2 control-label">E-mail</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="email" th:field="*{email}"/>
					</div>
				</div>
<!-- 				TODO: Listar opções de acordo com a tabela RamosDeAtividades -->
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Ramo de Atividade</label>
					<div class="col-sm-2">
						<select class="form-control" name="ramoAtividade" th:field="*{ramoAtividade}">
							<option th:each="ramoAtividade : ${ramosAtividades}" th:value="${ramoAtividade}" th:text="${ramoAtividade.Descricao}"></option>
                    	</select>
                    </div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('txDebitoConcorrente')} ? has-error">
					<label for="txDebitoConcorrente" class="col-sm-2 control-label">Taxa de Débito (%)</label>
					<div class="col-sm-2"> 
						<input type="number" maxlength="3" class="form-control" id="txDebitoConcorrente" th:field="*{txDebitoConcorrente}" required="true"/>
					</div>
			
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('txCreditoConcorrente')} ? has-error">
					<label for="txCreditoConcorrente" class="col-sm-2 control-label">Taxa de Crédito (%)</label>
					<div class="col-sm-2"> 
						<input type="number" maxlength="3" class="form-control" id="txCreditoConcorrente" th:field="*{txCreditoConcorrente}"  required="true"/>
					</div>
					
				</div>
				</div>
				<div class="panel-default" id="dadosSimulação">
				 <div class="panel-heading">Dados da Simulação</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('descontoDebito')} ? has-error">
					<label for="descontoDebito" class="col-sm-2 control-label">Desconto Débito (%)</label>
					<div class="col-sm-2"> 
						<input type="number" maxlength="3" class="form-control" id="descontoDebito" th:field="*{descontoDebito}"  required="true"/>
					</div>
					
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('descontoCredito')} ? has-error">
					<label for="descontoCredito" class="col-sm-2 control-label">Desconto Crédito (%)</label>
					<div class="col-sm-2"> 
						<input type="number" maxlength="3" class="form-control" id="descontoCredito" th:field="*{descontoCredito}"  required="true"/>
					</div>
					
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status</label>
					<div class="col-sm-2">
						<select class="form-control" name="status" th:field="*{status}">
							<option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}"></option>
                    	</select>
                    </div>
				</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
</section>
</html>