<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Pesquisa de Concorrentes</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-concorrente-panel">Pesquisa de Concorrentes</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/concorrente/novo}">Novo Concorrente </a>
			</div>
		</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal"
				th:action="@{/concorrente}" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control"
								placeholder="Qual concorrente você está procurando?"
								autofocus="autofocus" th:field="*{descricao}"></input> 
								<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1"></th>
							<th class="text-center col-md-1">Concorrente</th>
							<th class="text-center col-md-2">CPF/CNPJ</th>
							<th class="text-center col-md-2">Telefone</th>
							<th class="text-center col-md-2">E-mail</th>
							<th class="text-center col-md-2">Ramo de Atividade</th>
							<th class="text-center col-md-1">Taxa Débito</th>
							<th class="text-center col-md-1">Taxa Crédito</th>
							<th class="text-center col-md-1">Desconto Débito</th>
							<th class="text-center col-md-1">Desconto Crédito</th>
							<th class="text-center col-md-1">Status</th>
							<th class="text-center col-md-1">Data Aprovação</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="concorrente : ${concorrentes}">
							<td class="text-center" th:text="${concorrente.codigo}">1</td>
							<td th:text="${concorrente.descricao}"></td>
							<td class="text-center" th:text="${concorrente.cpfCnpj}"></td>
							<td class="text-right" th:text="${concorrente.telefone}"></td>
							<td class="text-right" th:text="${concorrente.email}"></td>
							<td class="text-right" th:text="${concorrente.ramoAtividade}"></td>
							<td class="text-right"	th:text="|${concorrente.txDebitoConcorrente}%|"></td>
							<td class="text-right" 	th:text="|${concorrente.txCreditoConcorrente}%|"></td>
							<td class="text-right" th:text="|${concorrente.descontoDebito}%|"></td>
							<td class="text-right"
								th:text="|${concorrente.descontoCredito}%|"></td>
							<td class="text-center" th:attr="data-role=${concorrente.codigo}">
								<span class="label" th:text="${concorrente.status.descricao}"
								th:classappend="${concorrente.status == 'Aprovado' ? 'label-success' : 'label-default'}">
							</span>
							</td>
							<td class="text-right" th:text="|${concorrente.dtAprovacao}|"></td>
							<td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/concorrente/{codigo}(codigo=${concorrente.codigo})}"
								title="Editar" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-pencil"></span>
							</a> <a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${concorrente.codigo}, data-descricao=${concorrente.descricao}"
								title="Excluir" rel="tooltip" data-placement="top"> <span
									class="glyphicon glyphicon-remove"></span>
							</a> <a class="btn btn-link btn-xs js-atualizar-status"
								th:if="${concorrente.status == 'Pendente'}" title="Aprovar"
								rel="tooltip" data-placement="top"
								th:attr="data-codigo=${concorrente.codigo}"
								th:href="@{/concorrente/{codigo}/aprovar(codigo=${concorrente.codigo})}">
									<span class="glyphicon glyphicon-check"></span>
							</a></td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(concorrentes)}">Nenhum concorrente foi encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div layout:include="DialogoConfirmacaoExclusao"></div>

	</div>
</section>
</html>
